@font-face{
    font-family: "silkScreen";
    src: url('fonts/Silkscreen-Regular.ttf')
}
@font-face{
    font-family: "silkScreenBold";
    src: url(fonts/Silkscreen-Bold.ttf);
}
html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'silkScreen';
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:gainsboro;
    margin-bottom: 100px;
}
.content{
    margin:0;
    padding-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;;
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0.125em 0.125em 0.75em gray;
}
.navbar h2{
    margin-left: 0%;
    margin-right: 5%;
    font-size: 200%;
}
.addBtn{
    display: inline-flex;
    font-size: 130%;
    max-height: 90%;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: 'silkScreenBold';
    background-color: white;
    border-style: solid;
    border-radius: 0.5em;
}
.addBtn:hover{
    background-color: gainsboro;
    color: white;
    background-color: rgb(138, 138, 138);
    border-style: solid;
}
.addBtn:active{
    border-style: inset;
    background-color:gainsboro;
}
.content-pane{
    display: grid;
    grid-template: repeat(5, 20%) / 1fr repeat(3, 325px) 1fr;
    grid-template-areas: 
                "sl ba ba ba sr"
                "sl ba ba ba sr"
                "sl ba ba ba sr"
                "sl ba ba ba sr"
                "sl ba ba ba sr";
    height: 100%;
    width: 100%;
}
.spacer-left{
    grid-area: sl;
}
.spacer-right{
    grid-area: sr;
}
.content-books{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(15em, 30%));
    grid-gap: 4%;
    grid-area: ba;
    padding: 2.5%;
    margin-top: 2.5%;
}
.book{
    padding: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    box-shadow: 0.25em 0.25em 0.75em rgb(100, 100, 100);
}
.book label{
    margin-top: 2%;
    margin-bottom: 2%;
}
.book button{
    margin-top: 8%;
    font-size: 100%;
}
.input-dialog{
    position: fixed;
    top: 0;
    padding: 1%;
    box-shadow: 0.25em 0.25em 0.75em rgb(100, 100, 100);
}
.input-form{
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5%;
}
.form-group label{
    margin-right: 3%;
}
.form-group input{
    font-size: 120%;
}
.form-group button{
    margin-left: 5%;
    font-size: 120%;
}
.book-group{
    font-size: 100%;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0.25em 0.25em 0.75em rgb(100, 100, 100);
}